.wrapper {
  position: absolute;
  top: 0;
  bottom:0;
  left: 50%;
  width: 100%;
  max-width: 375px;
  background: #ddd;
  transform: translate(-50%,0);
}
.burger-panel {
  height: 50px;
  position: relative;
  border-bottom: 1px solid #fff;
}
.burger-menu {
  width: 25px;
  height: 16px;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 6;
  transition: all .3s;
  span {
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    left: 0;
    transition: .25s ease-in-out;
    opacity: .6;
    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 7px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 14px;
      transform-origin: left center;
    }
  }
  &.opened {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 2px;
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 15px;
        left: 2px;
      }
    }
  }
}