* {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
}
a {
  color: #0080cc;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color .3s,border .3s;
  &:hover {
    border-color: #0080cc;
  }
}
.opening-text {
  .hidden {
    display: none;
  }
}
.opened {
  .opening-text {
    span {
      display: none;
    }
    .hidden {
      display: inline-block;
    }
  }
}
.about-product {
  &-section {
    max-width: calc(870px + 80px + 220px + 60px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &-titles {
    background: #fff;
    padding: 12px 0 13px;
    animation-duration: .7s;
    animation-name: fadeInDown;
    height: 44px;
    &-holder {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &-title {
    font-size: 16px;
    line-height: 19px;
    position: relative;
    margin-right: 40px;
    &.active {
      color: #333333;
      &:hover {
        border-color: transparent;
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -15px;
        left: 0;
        height: 2px;
        background: #0080cc;
      }
    }
    .count {
      color: #0080cc;
    }
  }
}
.product {
  &-scroll {
    &-item {
      width: 218px;
      transition: all .5s;
      padding-top: 35px;
      &.sticky {
        position: fixed;
        top: 44px;
        z-index: 1;
      }
    }
  }
}
.description-column {
  &.fixed-menu {
    padding-top: 44px;
    .about-product-titles {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 3px 4px 0 rgba(222,222,222,.5);
      &-holder {
        width: calc(870px + 80px + 220px + 60px);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.section {
  &-about {
    &-text-block {
      max-height: 400px;
      overflow: hidden;
      transition: all .4s;
      position: relative;
      &:after {
        pointer-events: none;
        content: '';
        transition: all .3s;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 140px;
        background-image: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
      }
    }
    .section-item-body {
      &.opened {
        .section-about-text-block {
          max-height: 999px;
        }
      }
    }
  }
  &-item-body {
    &.opened {
      .section-about-text-block {
        &:after {
          transform: translate(0,100%);
        }
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



@media (min-width: 1280px) {
  .about-product {
    &-section {
      display: flex;
    }
  }
  .description-column {
    width: calc(100% - 255px);
  }
  .product {
    &-scroll {
      width: 255px;
      padding-left: 35px;
      border-left: 2px solid #eee;
    }
  }
  .section-items {
    max-width: 870px;
  }
}
@media (min-width: 1366px) {
  .description-column {
    width: calc(100% - 280px);
  }
  .product {
    &-scroll {
      width: 280px;
      padding-left: 60px;
    }
  }
}