* {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
.menu {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  li {
    font-size: 15px;
    line-height: 19px;
    display: block;
    margin: 0;
    border-top: 1px solid #eee;
    padding: 13px 10px 14px;
    > a {
      position: relative;
      color: #777;
    }
  }
}
.mobile_menu {
  border-bottom: 1px solid #eee;
}
.submenu {
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: -100%;
  background: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all .4s;
  .back {
    position: relative;
    cursor: pointer;
    text-align: center;
    &:before {
      content: '<= ';
      position: absolute;
      left: 0;
    }
  }
  &.active {
    left: 0;
  }
}
